*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  //position: absolute;
}

section {
  width: 100%;
}

form {
  width: 100%;
}

.h2Home {
  //width: 80%;
  color: white;
  font-size: 52px;

}

.home {
  color: white;
  font-weight: bold;
}

.flexBlocColumns {
  display: flex;
  justify-content: center;

  .column1 {
    .row:nth-child(3) {
      .form-group {
        padding-left: 0;
      }
    }
  }
  .column2 {
    margin-left: 20px;
  }

  #fromTo {
    display: flex;

    .form-group {
      border: none;
      display: flex;
    }
  }

  #spaceTo {
    padding: 0 5px;
  }

}

.submitBtn {
  align-self: center;
  margin-left: 20px;
}

.btn {
  padding: 20px;
  margin: 0px;
}

input {
  /*background-color: green*/
;
  margin-bottom: 10px;
}


/*--------------------------------*/

.tableBox {
  overflow-y: scroll;
  width: 100%;
  margin-top: 20px;


  table {
    margin: 0px auto 0px auto;
    table-layout: auto;
    width: 100%;
    th {
      padding: 10px;
      position: sticky;
      top: 0;
      background-color: #000000;
      text-align: center;
      color: white;
      text-shadow: rgba(0, 0, 0, 0.3) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    td {
      padding: 10px;
      text-align: center;
    }

    .design-actions-home {
      column-width: auto;

      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        font-weight: bold;
      }
      a:first-child {
        padding-right: 7px;
      }
      a:last-child {
        display: block;
        background: linear-gradient(90deg, #DB2D7F, #805EFD);
        color: white;
        text-shadow: 2px 2px 4px #000000;
        padding: 5px 3px;
        border-radius: 5px;
        margin-top: 7px;
      }
    }

  }


  #headColor {
    background-color: #d3d1d1;
  }
}

table, td, th {
  //border: 1px solid #d0d0d0;
  border-collapse: collapse;
  border-bottom: 1px solid rgb(230, 230, 230);
}


tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #ffffff;

  /*	background-color: #e8e8e8;
  */
}

#createTripBtn {
  /*	background-color: pink;
  */
  width: 100%;

  .row {
    /*	background-color: red;
    */
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

}

input[type=checkbox] + label {
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid #c1c1c1;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding-left: 0.2em;
  margin-bottom: 7px;
  margin-right: 10px;
  color: transparent;
  transition: 0.2s;
}

input[type=checkbox]:checked + label:before {
  background-color: #E7287D;
  border-color: #E7287D;
  color: white;
}

.column1 input[type=date] {
  color: grey;
}

.column1 input {
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  padding-left: 7px;
}

.column1 input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(9, 171, 162, 0.2);
  border: 0.1em solid rgb(9, 171, 162, 0.7);
  /*  box-shadow: 2px 2px 0px #09ABA2, -2px -2px 0px #09ABA2;
  */
}

button[type="submit"] {
  background-color: #000000;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
}

.js-filter-pagination {
  margin-top: 30px;
    .pagination {
      .current {
        background-color: white;
        font-size: 20px;
        padding: 5px 15px;
        border-radius: 50%;
        font-weight: bold;

      }
      span {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
}

/*--------------------------------*/

@media screen and (max-width: 1000px) {
  form {
    width: 100%;
  }

  .flexBlocColumns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .column1, .column2 {
    margin-bottom: 20px;
  }

  .submitBtn {
    margin: 0;
  }
}