*, ::before, ::after {
  box-sizing: border-box;
}

body {
  //background: #ffffff;
  font-family: 'Open sans', Arial, sans-serif;

}

.messageErreur {
  background: #791c1e;
  color: #ffffff;
  border-color: #fbc2c4;
  border-radius: 14px;
  font-size: 18px;
  padding: 15px;

  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 46px 22px rgba(255,255,255,0.81);
  -moz-box-shadow: 1px 1px 46px 22px rgba(255,255,255,0.81);
  box-shadow: 1px 1px 46px 22px rgba(255,255,255,0.81);
}

.messageSuccess {
  background: #d9e8d7;
  color: #265b1f;
  border-color: #d9e8d7;
  border-radius: 14px;
  font-size: 18px;
  padding: 15px;

  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 46px 22px rgba(255,255,255,0.81);
  -moz-box-shadow: 1px 1px 46px 22px rgba(255,255,255,0.81);
  box-shadow: 1px 1px 46px 22px rgba(255,255,255,0.81);
}